.imagen{
    display: flex;
    border-radius: 100px;
    width: 1000px;
    height: 650px;
    display: flex;
    margin-left: 400px;
}

.parrafo{
    margin-left: 400px;
    margin-right: 425px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.logo{
    width: 50px;
}

.logoH{
    width: 150px;
    height: 100px;
    border-radius: 20px;
}

.cabecera {
    background-color: rgb(182, 221, 184);
    
}

.foot{
    background-color: rgb(182, 221, 184);
}

.cabecera li {
margin-top: 34px;
margin-right: 150px;
background-color: aliceblue;
margin-bottom: 5px;
list-style: none;
padding: 10px;
border-radius: 10px;
}

ul{
    display: flex;
}

.add{
    width: 500px;
    height: 400px;
    margin-left: 700px;
}

.app{
    margin-left: 600px;
    margin-right: 600px;
}

.pap{
    margin-left: 600px;
    margin-top: 80px;
    
}

.padrebody{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
    justify-content: space-around;
}

.div1{
    text-align: center;
    padding: 20px;
    border: solid lightgray 1px;
    border-radius: 10px;
    margin: 40px;
    flex-direction: row;
    width: 500px;
    font-size: 28px;
    padding-bottom: 100px;
    justify-content: space-around;
}

.nombreciudad{
    padding-bottom: 40px;
}

.img{
    width: 498px;
    height: 400px;
    margin-bottom: 90px;
    margin-left: -20px;
    margin-top: -20px;
}

.titulo {
    margin-top: 50px;
}

.form{
    text-align: center;
}